<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meishi.metadata.food.dao.ChefFansMapper">
  <resultMap id="BaseResultMap" type="com.meishi.metadata.food.entity.ChefFans">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="chef_id" jdbcType="BIGINT" property="chefId" />
    <result column="fan_chef_id" jdbcType="BIGINT" property="fanChefId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, chef_id, fan_chef_id
  </sql>
  <select id="selectByExample" parameterType="com.meishi.metadata.food.entity.ChefFansExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from chef_fans
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from chef_fans
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from chef_fans
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.meishi.metadata.food.entity.ChefFansExample">
    delete from chef_fans
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.meishi.metadata.food.entity.ChefFans">
    insert into chef_fans (id, chef_id, fan_chef_id
      )
    values (#{id,jdbcType=BIGINT}, #{chefId,jdbcType=BIGINT}, #{fanChefId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.meishi.metadata.food.entity.ChefFans">
    insert into chef_fans
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="chefId != null">
        chef_id,
      </if>
      <if test="fanChefId != null">
        fan_chef_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="chefId != null">
        #{chefId,jdbcType=BIGINT},
      </if>
      <if test="fanChefId != null">
        #{fanChefId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.meishi.metadata.food.entity.ChefFansExample" resultType="java.lang.Integer">
    select count(*) from chef_fans
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update chef_fans
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.chefId != null">
        chef_id = #{record.chefId,jdbcType=BIGINT},
      </if>
      <if test="record.fanChefId != null">
        fan_chef_id = #{record.fanChefId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update chef_fans
    set id = #{record.id,jdbcType=BIGINT},
      chef_id = #{record.chefId,jdbcType=BIGINT},
      fan_chef_id = #{record.fanChefId,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.meishi.metadata.food.entity.ChefFans">
    update chef_fans
    <set>
      <if test="chefId != null">
        chef_id = #{chefId,jdbcType=BIGINT},
      </if>
      <if test="fanChefId != null">
        fan_chef_id = #{fanChefId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.meishi.metadata.food.entity.ChefFans">
    update chef_fans
    set chef_id = #{chefId,jdbcType=BIGINT},
      fan_chef_id = #{fanChefId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>