<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meishi.dao.ChefFansMapper">
  <resultMap id="BaseResultMap" type="com.meishi.entity.ChefFans">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="chef_id" jdbcType="BIGINT" property="chefId" />
    <result column="fan_chef_id" jdbcType="BIGINT" property="fanChefId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, chef_id, fan_chef_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from chef_fans
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from chef_fans
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.meishi.entity.ChefFans">
    insert into chef_fans (id, chef_id, fan_chef_id
      )
    values (#{id,jdbcType=BIGINT}, #{chefId,jdbcType=BIGINT}, #{fanChefId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.meishi.entity.ChefFans">
    insert into chef_fans
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="chefId != null">
        chef_id,
      </if>
      <if test="fanChefId != null">
        fan_chef_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="chefId != null">
        #{chefId,jdbcType=BIGINT},
      </if>
      <if test="fanChefId != null">
        #{fanChefId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.meishi.entity.ChefFans">
    update chef_fans
    <set>
      <if test="chefId != null">
        chef_id = #{chefId,jdbcType=BIGINT},
      </if>
      <if test="fanChefId != null">
        fan_chef_id = #{fanChefId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.meishi.entity.ChefFans">
    update chef_fans
    set chef_id = #{chefId,jdbcType=BIGINT},
      fan_chef_id = #{fanChefId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>